*.egg-info
.idea/
.terraform/*
*/.terraform
.terraform.*
terraform.*
cats_vault/
docs/ws.md
old
*.pyc
.ipynb_checkpoints
.pytest_cache
/examples/
venv
.obsidian
offline_experiments
testing/features/cat.py
testing/tests/cat.py
bom.car
bom.json
invoice.json
order.json
cat-action-plane-config
old/experiments/catMesh
depricated
docs/depricated
data/online
data/cache/
data/deprecated/
data/jobs/
data/testing/cat_*
data/input/structure/data/*
data/input/structure/outputs/**
data/input/structure/terraform.tfstate*
cats/*/new.py
offline
data/deprecated/
data/input/.terraform/
data/input/plant/.terraform/
data/input/structure/.terraform
data/input/structure/.terraform-data
data/input/structure/providers
